In [21]:
#Lets learn about print statements 
print("Lets learn python for Machine Learning.")

Lets learn python for Machine Learning.

In [1]:
# variable
x = 20 
y = "Pashupati"
print(x)
print(y)

20
Pashupati

In [23]:
# Using string formatting
print(f"{y} is {x} years old.")

Abishek is 20 years old.

In [24]:
# Using format method.
print("{} is {} year old.".format(y, x))

Abishek is 20 year old.

In [25]:
# Using concatenation method.
print(y + " is " + str(x) + " Year old.")

Abishek is 20 Year old.

In [26]:
# Using older % string formatting method
print("%s is %d years old." %(y, x))

Abishek is 20 years old.

In [27]:
x

20

In [28]:
y

'Abishek'

In [29]:
# working with numbers
x = 10
y = 50
print(f"The addition of x and y is {x + y}.")
print(f"The Subtraction of x from y is {y - x}.")
print(f"The Multification of x and y is {x * y}.")
print(f"The Division of y from x is {y / x}.")

The addition of x and y is 60.
The Subtraction of x from y is 40.
The Multification of x and y is 500.
The Division of y from x is 5.0.

In [30]:
# Working with single_quoted_string
single_quoted_string = 'Python is Awesome!!'
print("Single Quoted String:", single_quoted_string)

Single Quoted String: Python is Awesome!!

In [31]:
# Working with double_quoted_string
double_quoted_string = 'I am Learning Python!!'
print("Single Quoted String:", double_quoted_string)

Single Quoted String: I am Learning Python!!

In [32]:
#String Concatention 
concatenated_string = single_quoted_string + ' ' + double_quoted_string
print("Concatenated String is:", concatenated_string)

Concatenated String is: Python is Awesome!! I am Learning Python!!

In [33]:
#String Methods
uppercase_string = concatenated_string.upper()
print(uppercase_string)
lowercase_string = concatenated_string.lower()
print(lowercase_string)

PYTHON IS AWESOME!! I AM LEARNING PYTHON!!
python is awesome!! i am learning python!!

In [3]:
#string slicing examples
word = "University of Sunderland"
slice_word = word[4: 10]
print("Slice word is: ", slice_word)

Slice word is:  ersity

In [7]:
#Space examples
word_space = "   Pokhara University   "
print(word_space)
remove_space = word_space.strip()
print("Removed Space:",remove_space)

   Pokhara University
Removed Space: Pokhara University

In [22]:
# Join function
word_list = ["Kali", "Linux", "is", "used", "for", "hacking"]
print("Word List:", word_list)
sentence = " ".join(word_list)
print("Complete Sentence is:", sentence)

Word List: ['Kali', 'Linux', 'is', 'used', 'for', 'hacking']
Complete Sentence is: Kali Linux is used for hacking

In [18]:
# Replace Function
word_list = "Hello, World"
replaced_string = word_list.replace("Hello", "Cybersecurity")
print("Replaced Sentence: ", replaced_string)

Replaced Sentence:  Cybersecurity, World

In [21]:
# Find a word in a sentence 
word = "Python is Awesome!! I'm learning python crash course."
index = word.find("course")
print("Index of course:", index)

Index of course: 46

2.3 List

In [24]:
# Creating a List
fav_movie = ["Hami 3 bhai", "Papi Manxe", "Aadi Pusush", "Animal", "Hera Pheri"]
print("Fav Movie:", fav_movie)

Fav Movie: ['Hami 3 bhai', 'Papi Manxe', 'Aadi Pusush', 'Animal', 'Hera Pheri']

In [29]:
# Accessing the element of list
print("Udip Fav Movie is:", fav_movie[1])
print("Nitin Fav Movie is:", fav_movie[3])
print("Rashna Fav Movie is:", fav_movie[-1])

Udip Fav Movie is: Papi Manxe
Nitin Fav Movie is: Animal
Rashna Fav Movie is: Hera Pheri

In [31]:
# Find the length of list
print("The Length of string is:" , len(fav_movie))

The Length of string is: 5

In [38]:
# List can contain 
list1 = ["Apple", "Banana", "Cherry", "Dragon Fruit"]
list2 = [5, 10, 15, 20, 25]
list3 = [True, False, False, True]
list4 = ["Apple", 5, True]
print(list1)
print(list2)
print(list3)
print(list4)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit']
[5, 10, 15, 20, 25]
[True, False, False, True]
['Apple', 5, True]

In [36]:
# let's find the type of data types
print(type(list3))

<class 'list'>

In [41]:
#Nested List
nested_list = ["One Piece", "Lord of the Rings", [9, 10]]
print("Nested list:", nested_list)
print("IMDB rating LOR:", nested_list[2][1])

Nested list: ['One Piece', 'Lord of the Rings', [9, 10]]
IMDB rating LOR: 10

2.4 Disctionary

In [44]:
# Creating a disctionary
student = {
    "name": "Siddhant",
    "Department": "Computer Engineering",
    "CGPA": 3.8
}
print(student)

{'name': 'Siddhant', 'Department': 'Computer Engineering', 'CGPA': 3.8}

In [45]:
# Accessing the disctionary items
print("Student's Name:", student["name"])

Student's Name: Siddhant

In [46]:
#Adding a new element
student["year"] = 2019

#Print the disctionary as a string
print(repr(student))

{'name': 'Siddhant', 'Department': 'Computer Engineering', 'CGPA': 3.8, 'year': 2019}

In [47]:
#Modifying an exiting item
student["CGPA"] = 3.9
print(repr(student))

{'name': 'Siddhant', 'Department': 'Computer Engineering', 'CGPA': 3.9, 'year': 2019}

In [54]:
# Deleting an item if it exists
if "year" in student:
    del student["year"]
    print(student)

In [55]:
# 
car_dict = dict(name = "Tesla", company = "Tesla", price = 10)
print(repr(car_dict))

{'name': 'Tesla', 'company': 'Tesla', 'price': 10}

In [3]:
# Boolean: Let's learn Boolean 
print("\nExample1: Comparing Values:")
print("Is 100 is smaller than 200?", 200 > 100)
print("Is 50 equal to  100", 50 == 100)

Example1: Comparing Values:
Is 100 is smaller than 200? True
Is 50 equal to  100 False

In [5]:
#Example Find the greatest number among the 
x = 50
y = 200
if x > y:
    print(f"{x} is greater than {y}")
else: print(f"{y} is greater than {x}")

200 is greater than 50

In [9]:
# Evulating Values and variables 
print("Is 'Hello' True?", bool("Hello"))
x = "Hi"
y = 25
print("Is x True?", bool(x))
print("Is y False?", bool(y))

Is 'Hello' True? True
Is x True? True
Is y False? True

In [13]:
# let's practice function that returns boolean
def is_even(num):
    return num % 2 == 0
print("Is 20 is even?", is_even(20))
print("Is 15 is even?", is_even(20))

Is 20 is even? True
Is 15 is even? True

In [14]:
# Tules: Let's learn about tupless
fav_movie = ("Najariya Churaya", "One Piece", "Tiger 3")
print(fav_movie)

('Najariya Churaya', 'One Piece', 'Tiger 3')

In [15]:
#Acceing the fav movie
print("Keshav fav movie is ", fav_movie[0])
print("Ram fav movie is ", fav_movie[2])

Keshav fav movie is  Najariya Churaya
Ram fav movie is  Tiger 3

In [25]:
#
x, y, z = fav_movie
print("Seprate Movie:", x,y,z)

Seprate Movie: Najariya Churaya One Piece Tiger 3

In [20]:
for movie in fav_movie:
    print(movie)

Najariya Churaya
One Piece
Tiger 3

In [24]:
#joining the two rupples
first_tupples = ("Apple","Banana", "Cherry")
secont_tupples = (5,10, 15)
joined_tupples = first_tupples + secont_tupples
print(joined_tupples)

('Apple', 'Banana', 'Cherry', 5, 10, 15)

In [26]:
#Sets: Let's learn about sets

In [49]:
#Making set
my_first_set = {"apple", "aanar", "banana"}
print(my_first_set)

{'apple', 'banana', 'aanar'}

In [33]:
#Adding a new fruit to our set 
my_first_set.add("orange")
print(my_first_set)

{'orange', 'apple', 'banana', 'aanar'}

In [45]:
#Update a new fruit to our set 
my_first_set.update(["Mango", "Pinaapple"])
print(my_first_set)

{'Mango', 'orange', 'banana', 'apple', 'Pinaapple'}

In [48]:
#Remove a new fruit to our set 
my_first_set.remove("aanar")
print(my_first_set)

{'Mango', 'orange', 'banana', 'apple', 'Pinaapple'}

In [53]:
#Conditional Statement:
a = 20
b = 50
c = 70

if a >= b and a >= c:
    print(f"{a} is greatest number.")
elif b >= a and b >= c:
    print(f"{b} is greatest number.")
else:
    print(f"{c} is greatest number.")

70 is greatest number.

In [63]:
#Leap year
year = 2025

if (year % 4 == 0 and year % 100 != 0) or (year %  400 == 0):
    print("Leap year")
else:
    print("Not Leap year")

Not Leap year

In [67]:
#Determining the season based on the month
month = "Sep"

if month in ["Jan", "Feb", "March", "May"]:
    print("Rainy")
elif month in ["Sep", "Oct", "Nov"]:
    print("Autumn")
elif month in ["June", "July", "August"]:
    print("Summer")

Autumn

4 Day Class

In [4]:
# Loops: Let's Learn
multiple_of_five = [5, 10, 15, 20, 25, 30, 35]
print("\nMultiples of Five:")
for num in multiple_of_five:
    print(num)

Multiples of Five:
5
10
15
20
25
30
35

In [6]:
# Let's work with string 
string = "Hi i am Learning Python"

for char in string: 
    print(char)

H
i

i

a
m

L
e
a
r
n
i
n
g

P
y
t
h
o
n

In [16]:
#Let's range
for i in range(10):
    print("Range 10:", i)

Range 10: 0
Range 10: 1
Range 10: 2
Range 10: 3
Range 10: 4
Range 10: 5
Range 10: 6
Range 10: 7
Range 10: 8
Range 10: 9

In [15]:
#Let's range between
for i in range(1, 10):
    print("Range Between 1 to 10:", i)

Range Between 1 to 10 1
Range Between 1 to 10 2
Range Between 1 to 10 3
Range Between 1 to 10 4
Range Between 1 to 10 5
Range Between 1 to 10 6
Range Between 1 to 10 7
Range Between 1 to 10 8
Range Between 1 to 10 9

In [14]:
#Even NUmber from 1 to 10 
for i in range(0, 11, 2):
    print("Even Number:", i)

Even Number: 0
Even Number: 2
Even Number: 4
Even Number: 6
Even Number: 8
Even Number: 10

In [13]:
#Odd Number from 1 to 10 
for i in range(1, 10, 2):
    print("Odd Number:", i)

Odd Number: 1
Odd Number: 3
Odd Number: 5
Odd Number: 7
Odd Number: 9

In [29]:
#Odd Number from 1 to 10  and 20 to 11
for i in range(1, 10, 2):
    print("\nOdd Number of 1 to 10:", i)

for i in range(20, 11, -2):
    print("\nEven Number of 20 to 11:", i)

Odd Number of 1 to 10: 1

Odd Number of 1 to 10: 3

Odd Number of 1 to 10: 5

Odd Number of 1 to 10: 7

Odd Number of 1 to 10: 9

Even Number of 20 to 11: 20

Even Number of 20 to 11: 18

Even Number of 20 to 11: 16

Even Number of 20 to 11: 14

Even Number of 20 to 11: 12

In [34]:
#Let's use disctionary
fav_movie = {"KGF": 9, "Puspa": 9, "RRR": 9,}

for key, value in fav_movie.items():
    print(key, ",", value)

KGF , 9
Puspa , 9
RRR , 9

In [37]:
# Let's learn loop with tuple
fruits = [("Apple", 10), ("Banana", 12), ("Cherry", 15)]
print("\nElements of Fruits Tuple:")

for item in fruits:
    print(item)

Elements of Fruits Tuple:
('Apple', 10)
('Banana', 12)
('Cherry', 15)

In [38]:
# Let's Seprate each element from tuple fruits
for char, num in fruits:
    print("Character:", char, "| Quantity:", num)

Character: Apple | Quantity: 10
Character: Banana | Quantity: 12
Character: Cherry | Quantity: 15

In [39]:
# let's learn while loop
count = 1
while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

In [42]:
#Find the sum of numbers 1-10 using while loop
sum = 0
num = 1
while num <= 10:
    sum += num
    num += 1
    print("\nThe Sum of number from 1 - 10 is:", sum)

The Sum of number from 1 - 10 is: 1

The Sum of number from 1 - 10 is: 3

The Sum of number from 1 - 10 is: 6

The Sum of number from 1 - 10 is: 10

The Sum of number from 1 - 10 is: 15

The Sum of number from 1 - 10 is: 21

The Sum of number from 1 - 10 is: 28

The Sum of number from 1 - 10 is: 36

The Sum of number from 1 - 10 is: 45

The Sum of number from 1 - 10 is: 55

In [46]:
# Find the sum of number from  1 to 10 even numbers only
sum = 0 
num = 1
while num <= 10:
    if num % 2 == 0:
        sum += num
    num += 1
print("The sum of number from  1 to 10 even numbers only:", sum)

The sum of numbe rfrom  1 to 10 even numbers only: 30

In [50]:
#Find the even number from 1 to 10 using while loop 
num = 1
while num <= 10:
    if num % 2 == 1:
        print(num)
    num += 1

1
3
5
7
9

In [4]:
# Find the factorial of 5
number = 5
factorial = 1
while number > 0:
    factorial *= number
    number -= 1
    print("Factorial of 5 is :", factorial)

Factorial of 5 is : 5
Factorial of 5 is : 20
Factorial of 5 is : 60
Factorial of 5 is : 120
Factorial of 5 is : 120

In [8]:
#Reverse the string using while loop
string = "Flimy"
reversed_string = ""
length = len(string)
while length > 0:
    reversed_string += string[length - 1]
    length -= 1
print("Reversed string:", reversed_string)

Reversed string: ymilF

In [10]:
#Function let's greet first 
def greet():
    print("Hello World!!")
greet()

Hello World!!

In [1]:
# Function With Parameters
def greet(name):
    print("Hello", name)
greet("Bata")
greet("Fata")

Hello Bata
Hello Fata

In [2]:
# Function with Return Value
def square(a):
    return a ** 2
result = square(10)
print(result)

100

In [3]:
# Function wiht default paramenter value
def greet_with_default(name = "Word!!"):
    print("Hello ", name)

greet_with_default()
greet_with_default(name = "python!")

Hello  Word!!
Hello  python!

In [4]:
# Function with multiple values: find the min and max number
def min_max(num):
    return min(num), max(num)

num = [1, 5, 10, 15, 20, 30, 40, 50, 100, 200, 500]
min_num, max_num = min_max(num)
print("Minimum Number: ", min_num)
print("Maximum Number: ", max_num)

Minimum Number:  1
Maximum Number:  500

In [6]:
#Recursive function to calculate factorial
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n -1 )

print("Factorial of 5 is :", factorial(5))

Factorial of 5 is : 120

In [8]:
# Function with the variable number of arguments
def sum(*arg):
    total = 0
    for num in arg: 
        total += num
    return total
print("Sum of 1, 2, 3, 5 and 7:" , sum(1, 2, 3, 5, 7))

Sum of 1, 2, 3, 5 and 7: 18

In [10]:
# Lamda Expression or Function
square = lambda x, y: x + y
print ("Sum of two numbers: ", sum(10, 20))

Sum of two numbers:  30

In [12]:
# Sorting based on length (characters) of name
names = ["Bata", "Saloni", "Lumanti", "Bajesh"]
sorted_names = sorted(names, key = lambda name: len(name))
print("Sorted names based on their characters:", sorted_names)

Sorted names based on their characters: ['Bata', 'Saloni', 'Bajesh', 'Lumanti']

In [16]:
# Find the even numbers in a list using lambda function 
numbers = [2, 3, 5, 8, 6, 10, 20, 15, 54, 85, 101, 105]
even_number = list(filter(lambda x : x % 2 == 0, numbers))
print("Even numbers from LIst:", even_number)

Even numbers from LIst: [2, 8, 6, 10, 20, 54]

In [17]:
# Mapping a function to a  list using lambda function 
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_list = list(map(lambda x: x **2, numbers))
print("Squared list of numbers:", squared_list)

Squared list of numbers: [4, 9, 25, 64, 36, 100, 400, 225, 2916, 7225, 10201, 11025]

oop dsp concept
Machine learning DSP

In [26]:
# Let's learn list Methods
my_list = [ 1, 4, 9, 16, 24, 36, 49, 64, 81]

#appen
my_list.append(100)
print(my_list)

#pop() : removes and return the last element from the list 
my_list.pop()
print("My list after popped:", my_list)

# Sort()
new_list = [10, 52, 2, 4, 6, 546, 5646]
new_list.sort()
print("Sorted_list:", new_list)

#reverse()
new_list.reverse()
print("Reversed list:", new_list)

[1, 4, 9, 16, 24, 36, 49, 64, 81, 100]
My list after popped: [1, 4, 9, 16, 24, 36, 49, 64, 81]
Sorted_list: [2, 4, 6, 10, 52, 546, 5646]
Reversed list: [5646, 546, 52, 10, 6, 4, 2]

In [33]:
# using disctionary method 
my_dict = {
    "Apple": 20,
    "Banana": 12,
    "Cherry": 10,
    "Pinapple": 25,
}
# Key () Return a view of all keys in given disctionary
print("keys():", my_dict.keys())

# values() Return a view of all values in a given disctionary
print("Valuess():", my_dict.values())

#items() Return a view of all key - value pairs in the disctionary 
print("Items():", my_dict.items())

#get() Return a view of specified key of return default values if not found
print("get():", my_dict.get("Apple"))

keys(): dict_keys(['Apple', 'Banana', 'Cherry', 'Pinapple'])
Valuess(): dict_values([20, 12, 10, 25])
Items(): dict_items([('Apple', 20), ('Banana', 12), ('Cherry', 10), ('Pinapple', 25)])
get(): 20

In [34]:
pip install pandoc

Collecting pandoc
  Downloading pandoc-2.3.tar.gz (33 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting plumbum (from pandoc)
  Downloading plumbum-1.8.3-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: ply in c:\users\pashupati chaudhary\anaconda3\lib\site-packages (from pandoc) (3.11)
Requirement already satisfied: pywin32 in c:\users\pashupati chaudhary\anaconda3\lib\site-packages (from plumbum->pandoc) (305.1)
Downloading plumbum-1.8.3-py3-none-any.whl (127 kB)
   ---------------------------------------- 0.0/127.6 kB ? eta -:--:--
   ---------------------------------------- 0.0/127.6 kB ? eta -:--:--
   ---------------------------------------- 0.0/127.6 kB ? eta -:--:--
   ---------------------------------------- 0.0/127.6 kB ? eta -:--:--
   ---------------------------------------- 0.0/127.6 kB ? eta -:--:--
   ------------------------- -------------- 81.9/127.6 kB 4.5 MB/s eta 0:00:01
   ---------------------------------------- 127.6/127.6 kB 1.5 MB/s eta 0:00:00
Building wheels for collected packages: pandoc
  Building wheel for pandoc (setup.py): started
  Building wheel for pandoc (setup.py): finished with status 'done'
  Created wheel for pandoc: filename=pandoc-2.3-py3-none-any.whl size=33286 sha256=31020a486d42f189279add17150adff00a3ef6d9e6a9ca288dec804916aab4bb
  Stored in directory: c:\users\pashupati chaudhary\appdata\local\pip\cache\wheels\1c\a9\c4\6254542c4e8202d52fcd69798d2507aaad1f2a4bb60f2f0fea
Successfully built pandoc
Installing collected packages: plumbum, pandoc
Successfully installed pandoc-2.3 plumbum-1.8.3
Note: you may need to restart the kernel to use updated packages.